body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(243, 237, 237);
}
#app{
    background-color: rgb(85, 193, 236);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(30, 23, 23);
}
#counter{
    font-size: 50px;
    margin: 15px 0;
}
button{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 20px;
    margin-right: 5px;
}
button:hover{
    background-color: rgb(248, 248, 250);
    color: rgb(24, 21, 21);
}